@model WebApplication.ViewModels.Tasks.IndexVM

<fieldset>
    <legend>PROJECT</legend>
    <div class="grid">
        <div class="row">
            <div class="col-1 b">
                Project Name
            </div>
            <div class="col-3">
                @Model.ParentProject.Title
            </div>
        </div>
    </div>
</fieldset>


<div class="grid">
    <form action="/Tasks/Index" method="get">
        @Html.HiddenFor(m => m.ParentId)
        <div class="row">
            <div class="col-1">
                @Html.LabelFor(m => m.Filter.Title)
            </div>
            <div class="col-1">
                @Html.EditorFor(m => m.Filter.Title)
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                @Html.LabelFor(m => m.Filter.AssigneeId)
            </div>
            <div class="col-1">
                @Html.DropDownListFor(m => m.Filter.AssigneeId, Model.Filter.Assignees, "-")
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <input type="submit" value="Search" />
                <a href="/Tasks/Index?ParentId=@Model.ParentId">Clear</a>
            </div>
        </div>
    </form>

    <a href="/Tasks/Create?ParentId=@Model.ParentProject.Id">Add a new task</a>
    <hr />
    <div class="row">
        <div class="col-1" margin: 10px;">
            Project Tasks
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row b">
        <div class="col-1">
            Task Title
        </div>
        <div class="col-2">
            Task Description
        </div>
        <div class="col-2">
            Task Deadline
        </div>
        <div class="col-2">
            Assigneed User
        </div>
        <div class="col-2">
            Task Status
        </div>
    </div>

    @foreach (Common.Entities.Task item in Model.Items)
    {
        <div class="row">
            <div class="col-1">
                @item.Title
            </div>
            <div class="col-2">
                @item.Description
            </div>
            <div class="col-2">
                @item.Deadline
            </div>
            <div class="col-2">
                @item.Assignee.Username (@item.Assignee.FirstName @item.Assignee.LastName)
            </div>
            <div class="col-2">
                @item.Status
            </div>
            <div class="col-2">
                <a href="/Tasks/Edit?id=@item.Id">edit</a>
                <a href="/Tasks/Delete?id=@item.Id" onclick="return confirm('Delete this item?')">delete</a>
                <a href="/Tasks/Details?ParentId=@item.Id">details</a>
            </div>
        </div>
    }
    @{ Html.RenderPartial("/Views/Shared/PagerPartial.cshtml", Model.Pager);}
    <a href="/Projects/Index">Back</a>
</div>
