
@model WebApplication.ViewModels.Projects.IndexVM
@using Common.Entities;

<h1>Projects</h1>
<a href="/Projects/Create">Create a new project</a>

<div class="grid">
   
        <div class="row">
            <div class="col-1">
                Project Title
            </div>
        </div>
        <br />
        @foreach (Project prj in Model.Items)
        {
            <div class="row">
                <div class="col-1">
                    @prj.Title
                </div>
                <div class="col-1">
                    <a href="/Projects/Share?id=@prj.Id">share</a>
                    <a href="/Projects/Edit?id=@prj.Id">edit</a>
                    <a href="/Projects/Delete?id=@prj.Id" onclick="return confirm('Delete this item?')">delete</a>
                    <a href="/Tasks/Index?ParentId=@prj.Id">tasks</a>
                </div>
            </div>
        }

    <div class="row">
        <div class="col-3 pager">
            <script>
                function itemsPP_OnChange() {
                    var control = document.getElementById("ipp");
                    var url = "/Projects/Index?ItemsPerPage=" + control.options[control.selectedIndex].value;

                    window.location.href = url;
                }
            </script>
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                <a class="@(i == Model.Page ? "b" : "")" href="/Projects/Index?ItemsPerPage=@Model.ItemsPerPage&Page=@i">@i</a>
            }
            <select id="ipp" onchange="itemsPP_OnChange()">
                <option @(Model.ItemsPerPage == 1 ? "selected" : "")>1</option>
                <option @(Model.ItemsPerPage == 2 ? "selected" : "")>2</option>
                <option @(Model.ItemsPerPage == 5 ? "selected" : "")>5</option>
                <option @(Model.ItemsPerPage == 10 ? "selected" : "")>10</option>
            </select>
        </div>
    </div>
    
</div>

